.checkout-body {
  display: block;
  align-items: center;
  padding: 15% 0 0;
}

.col-payment {
  border-radius: 8px;
  background-color: #fff;

  padding: 15px;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.75);
}

.row-checkout {
  margin: 0 5% 0;
}
