.form-search-bar {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid rgb(160, 160, 160);
}

.form-search-bar:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.label-search-bar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgb(24, 24, 24);
}

.button-search-bar {
  background-color: rgb(18, 15, 218);
  width: 100px;
  color: white;
  font-weight: 500;
  border: 1px solid rgb(18, 15, 218);
  border-radius: 8px;
  margin-right: 10px;
}

.button-search-bar:hover {
  background-color: rgb(11, 9, 161);
  color: white;
}
