.container-payment{
    display: block;
    width: auto;
}

.paypal-logo{
    width: 150px;
    align-self: center;
}

.text{
    color: white;
}

.input{
    margin: 0 10px 0;
}

.row-margin{
    margin: 10px;
}

.button-payment{
    width: 100px;
    height: 50px;
    margin: 0 10px 0;
}

.card-img-top{
    width: 40px;
    margin-left: 10px;
}

.card-title{
    margin-left: 10px;
    color: #727272;
}