.farm-body {
  padding: 120px 10% 100px;
}

.container-chart {
  display: block;
  margin-bottom: 100px;
}

.form-check-label {
  color: white;
  font-weight: bold;
}

.back-button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(14, 14, 82);

  display: block;
  margin-left: auto;

  margin-top: 15px;
  padding-top: 7px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
